/* Home Splash Screen */
.home-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.quote-container {
    max-width: 600px;
    padding: 40px;
    text-align: center;
}

.quote-text {
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: black;
    line-height: 1.6;
}

.quote-cursor {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: black;
    margin-left: 2px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.home-splash.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to { opacity: 0; }
}